<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include
            resource="org/springframework/boot/logging/logback/base.xml" />

   <logger name="org.springframework.jdbc.core" level="trace"
            additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>

   <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
   <!-- <appender name="LOGGLY"
              class="ch.qos.logback.ext.loggly.LogglyAppender">
        <endpointUrl>https://logs-01.loggly.com/inputs/beb6be35-184b-4eaa-b5a4-381445ab5d34/tag/apisecurity
        </endpointUrl>
        <pattern>%m</pattern>
    </appender>

   <logger name="com.course2.apisecurity.api.filter.AuditLogFilter" level="info"
            additivity="false">
        <appender-ref ref="LOGGLY" />

    </logger> -->
    <logger name="com.course2" level="debug"
            additivity="false">
        <appender-ref ref="CONSOLE" />
     </logger>

    <root level="warn">
        <appender-ref ref="CONSOLE" />
     </root>
    <logger name="org.springframework.data.elasticsearch.client.WIRE" level="trace"/>

</configuration>